<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="LogFile" fileName="target/log4j2/LogSimple.log" append="true">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss,SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="LogHTML" fileName="target/log4j2/${date:yyyy-MM-ddHHmmssSSS}.html" append="false">
            <HtmlLayout datePattern="ISO8601" timezone="GMT+0"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="LogFile"/>
            <AppenderRef ref="LogHTML"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>